<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Scenario Based Forecasting</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Week No" placeholder="Week No" required="required" />
        <input type="text" name="Year" placeholder="Year" required="required" />
		<input type="text" name="Mortgage Rate" placeholder="Mortgage Rate" required="required" />
		<input type="text" name="Treasury Yield" placeholder="Treasury Yield" required="required" />
		<input type="text" name="Unemployment rate" placeholder="Unemployment rate" required="required" />
        <input type="text" name="GDP" placeholder="GDP" required="required" />
		<input type="text" name="Consumer Confidence Index" placeholder="Consumer Confidence Index" required="required" />
		<input type="text" name="Disposable Income" placeholder="Disposable Income" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>